<!DOCTYPE html>
<html>
  <head>
	  <meta charset="UTF-8">
	  <title>Don't open</title>
  </head>

  <body>
    <div>
      <a href="../index.html">Volver al inicio</a>
    </div>
    <div style="color: orange;">
      <center>
        <img src="../assets/img/img_01.jpg" style="width:30%"/>
      </center>
    </div>
    <div style="width:100%">
      <center>
        <h2>Véndenos tu alma:</h2>
      </center>
    </div>
    <div style="width:100%">
      <center>
        <form>
            <table>
              <tr>
                <td><label for="fname">First name:</label></td>
                <td><input type="text" name=fname><br></td>
              </tr>
              <tr>
                <td><label for="lname">Last name:</label></td>
                <td> <input type="text" name=lname><br></td>
              </tr>
              <tr>
                <td><label for="email">Email:</label></td>
                <td><input type="email" name="email"><br></td>
              </tr>
              <tr>
                <td colspan="2">
                    <center>
                      <input type="submit" value="Sale">
                    </center>
                </td>
              </tr>
            </table>
        </form>

      </center>
    </div>
  </body>
</html>
